:root {
    --generate-button-depressed-colour: rgb(63, 192, 127);
    --generate-button-hovered-colour: rgb(70, 219, 145);
    --generate-button-pressed-colour: rgb(18, 68, 43);
    --generate-button-current-colour: var(--generate-button-depressed-colour);
    --password-button-depressed-colour: rgba(180, 180, 180, 0.329);
    --password-button-hovered-colour: rgba(180, 180, 180, 0.63);
    --password-button-pressed-colour: rgba(180, 180, 180, 0.116);
    --password-button-current-colour: var(--password-button-depressed-colour);
    --password-button-font-size: 25px;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 0;
    padding: 0;
}

body {
    background: rgb(23, 32, 61);
}

button {
    touch-action: manipulation;
}

.wrapper {
    width: 100%;
}

.divider {
    background-color: rgba(180, 180, 180, 0.329);

    width: 80%;
    height: 3px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10%;
}

.wrapper button {
    background: var(--generate-button-current-colour);
    color: white;

    font-size: 25px;

    width: 90%;
    height: 58px;

    margin: 10px;

    padding: 0px 10px;

    white-space: normal;
    word-wrap: break-word;

    border: none;
    border-radius: 5px;
}

.titles {
    text-align: center;

    width: 100%
}

.titles h1 {
    color: white;

    font-size: 40px;

    padding-top: 10px;
}

.titles h3 {
    color: rgb(158, 158, 158);

    font-size: 20px;

    margin: 0px 10px 0px;
}

.attributes {
    text-align: center;

    width: 100%
}

.attributes p {
    color: rgb(207, 207, 207);

    font-size: 25px;

    margin-top: 10px;
}

.attributes label {
    color: rgb(207, 207, 207);

    font-size: 30px;
}

.generateButton {
    text-align: center;

    width: 100%;

    padding-top: 20px;
}

.passwords {
    text-align: center;

    width: 100%
}

.numberSlider {
    width: 80%;
    margin-top: 5px;
}

.wrapper .passwordButton {
    background: var(--password-button-current-colour);

    color:rgb(63, 192, 127);

    font-size: var(--password-button-font-size);
}

.footer {
    text-align: center;
}

.footer p {
    color: rgba(255, 255, 255, 0.5);

    margin: 20px;
}

#greenHeading {
    color: rgb(63, 192, 127);

    padding-top: 0px;
    padding-bottom: 10px;
}

#subtitle {
    font-size: 30px;

    margin-bottom: 3px;
}

#labelPasswordLength {
    margin-top: 8px;
}

@media only screen and (min-width: 768px) {
    .wrapper button {
        font-size: 25px;

        width: 500px;
    }

    .divider {
        width: 60%;

        margin-left: 20%;
    }

    .numberSlider {
        width: 350px;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper button {
        font-size: 20px;

        width: 300px;
    }

    .divider {
        width: 20%;

        margin-left: 40%;
    }

    .numberSlider {
        width: 200px;
    }

    .footer {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .titles h1 {
        font-size: 35px;
    
        padding-top: 10px;
    }
    
    .titles h3 {
        font-size: 15px;
    
        margin: 0px 10px 0px;
    }

    .attributes p {
        font-size: 15px;
    
        margin-top: 10px;
    }

    .attributes label {
        font-size: 20px;
    }

    #subtitle {
        font-size: 20px;
    
        margin-bottom: 3px;
    }
}